body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

h3{
  color: #333;
  padding-left: 150px;

}
h2{
  text-align: center;
  padding-bottom: 30px;
  gap: 20%;
}

.navbar {
  background-color: #9e9e9f;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 20px;
  color: white;
  cursor: pointer;
}

.navbar li:hover {
  text-decoration: underline;
}

